@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Mulish:wght@600&family=Open+Sans:ital,wght@1,700;1,800&family=Poppins:wght@600&display=swap');

.dashboard {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.dashboard .taskbar {
    display: flex;
    flex-direction: column;
    width: 16vw;
    padding: 0;
    align-items: center;
    background: var(--Purple-gradient, linear-gradient(180deg, #4F4186 4.04%, #43215A 47.57%, #4B0847 107.17%, #826041 122.19%));
}
.dashboard .contentbox {
    width: 100%;
    padding: 0;
    margin: 1vw;
}
.dashboard .top-task a {
    margin: 2px;
    align-items: left;
    padding: 0;
    border-radius: 5px;
    transition: 0.5s background-color;
}

.dashboard .top-task a :hover{
    background-color: #3F3176;
}

.dashboard .top-task img {
    width: 60%;
    height: auto;
    margin-left: 15px;
}


.dashboard .display-board {
    display: flex;
    flex-direction: column;
    width: 84vw;
    background-color: wheat;
}

.dashboard .bottom-task .divider {
    display: flex;
    width: 210px;
    padding: 7.778px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: var(--Number, 3px);
    background: rgba(230, 232, 236, 0.06);
    padding: 0.1vh;
}

.dashboard .navbar {
    display: flex;
    flex-direction: row;
    background-color: #FFFFFF;
    width: 100%;
    height: 12vh;
    align-items: center;
    justify-content: center;
}

.dashboard .navbar svg {
    width: 3.5%;
    height: auto;
    margin: 20px;
    border-radius: 25%;
    transition: 0.5s background-color;
}

.dashboard .navbar svg:hover {
    background-color: #D9d9d9;
}

.dashboard .navbar .nav-title {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 60vw;
    color: #1B1D21;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 31.111px; /* 133.333% */
    text-align: left;
    display: inline-block;
    margin: 20px;
}

.dashboard .navbar .profile {
    width: 10vw;
    border-radius: 10px;
    background-color: #d9d9d9;
    margin: 0px 20px;
}

.dashboard .navbar .profile h5 {
    color: var(--text-gray, #808191);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Inter;
    font-size: 11.667px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.444px; /* 166.667% */
}